:root {
  /** colors */
  --color-name: dracula;
  --color-bg-shade: #20222B;
  --color-bg-base: #282A36;
  --color-bg-surface: #303241;
  --color-bg-highlight: #383B4C;
  --color-fg-shade: #90908D;
  --color-fg-base: #B3B3B1;
  --color-fg-surface: #D6D6D5;
  --color-fg-highlight: #F9F9F9;
  --color-primary-bg: #970056;
  --color-primary-base: #FF2EA6;
  --color-primary-fg: #FFC4E6;
  --color-secondary-bg: #048023;
  --color-secondary-base: #10F84B;
  --color-secondary-fg: #90FCAC;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Quicksand;
  --font-size: 1.1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1190px;
  --surface-shadow: 17px 17px 5px rgb(151, 0, 86), 34px 34px 5px rgb(144.6086956521739, 5.565217391304348, 83.78260869565217), 51px 51px 5px rgb(138.2173913043478, 11.130434782608695, 81.56521739130434), 68px 68px 5px rgb(131.82608695652175, 16.695652173913043, 79.34782608695652), 85px 85px 5px rgb(125.43478260869566, 22.26086956521739, 77.13043478260869), 102px 102px 5px rgb(119.04347826086956, 27.82608695652174, 74.91304347826087), 119px 119px 5px rgb(112.65217391304347, 33.391304347826086, 72.69565217391305), 136px 136px 5px rgb(106.26086956521739, 38.95652173913044, 70.47826086956522), 153px 153px 5px rgb(99.86956521739131, 44.52173913043478, 68.26086956521739), 170px 170px 5px rgb(93.47826086956522, 50.086956521739125, 66.04347826086956), 187px 187px 5px rgb(87.08695652173913, 55.65217391304348, 63.826086956521735), 204px 204px 5px rgb(80.69565217391305, 61.21739130434783, 61.608695652173914), 221px 221px 5px rgb(74.30434782608695, 66.78260869565217, 59.391304347826086), 238px 238px 5px rgb(67.91304347826087, 72.34782608695652, 57.17391304347826), 255px 255px 5px rgb(61.52173913043478, 77.91304347826087, 54.95652173913044), 272px 272px 5px rgb(55.1304347826087, 83.47826086956522, 52.73913043478261), 289px 289px 5px rgb(48.73913043478261, 89.04347826086956, 50.52173913043478), 306px 306px 5px rgb(42.347826086956516, 94.6086956521739, 48.30434782608695), 323px 323px 5px rgb(35.95652173913044, 100.17391304347825, 46.086956521739125), 340px 340px 5px rgb(29.565217391304344, 105.73913043478261, 43.869565217391305), 357px 357px 5px rgb(23.173913043478265, 111.30434782608695, 41.65217391304348), 374px 374px 5px rgb(16.782608695652186, 116.8695652173913, 39.43478260869565), 391px 391px 5px rgb(10.391304347826093, 122.43478260869566, 37.21739130434783), 408px 408px 5px rgb(4, 128, 35);
  --surface-borderRadius: 50px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
